{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

    <body>

        <div class="container">


            <div class="section">

                <table>
                    <thead>
                        <tr>
                            <th>Last 10 Games</th>
                            <th>Result</th>
                            <th>Profit/Loss</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr>
                                <td>{{ result.Games }}</td>
                                <td>{{ result.result }}</td>
                                <td>${{ result.profitloss }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <p>Cash: ${{cash}}</p>
        <p>PnL: ${{PnL}}</p>
    </body>
{% endblock %}
